*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

.class_div_first{
    background-color: red;
    /*border-color: green;*/
    width: 100%;
    height: 64px;
    float: left;
    /*margin: 20px;*/
}

.class_div_first_inhert{
    background-color: aqua;
    width: 20px;
    height: 100%;
    display: inline;
    float: left;
    margin-left: 10px;

}


.class_div_out{
    background-color: orange;
    /*width: 600px;*/
    height: 100%;
    position: absolute;
    top: 64px;
    width: 100%;

}

.class_div_secord{
    background-color: black;
    width: 100px;
    height: 100px;
}

.class_main{
    /*width: auto;*/
    /*height: auto;*/
    /*position: relative;*/
    /*height: 500px;*/
    /*width: 300px;*/
}